:root {
    --menu-bg-color: rgb(72, 182, 72);
    --menu-bg-color-pressed: rgb(64, 158, 64);
    --menu-text-color: rgb(255, 255, 255);
    --menu-text-color-selected: rgb(220, 220, 220);
    --menu-bottom-bg-color: rgb(77, 126, 190);
}

html {
    height: 100%;
}

body {
    margin: 0px;
    font-family: "Noto Sans";
    height: 100%;
    overflow-y: hidden;
}

header {
    color: var(--menu-text-color);
}

.header-top {
    background-color: var(--menu-bg-color);
    padding: 10px;
}

.header-top > h1, .header-bottom > p {
    margin: 0px;
}

.header-bottom {
    background-color: var(--menu-bottom-bg-color);
    padding: 6px;
}

main {
    display: flex;
    height: 100%;
}

aside {
    background-color: var(--menu-bg-color);
    padding: 20px;
    height: 100%;
    color: var(--menu-text-color);
    width: 230px;
}

aside > h2 {
    margin-top: 0px;
}

li {
    color: var(--menu-text-color);
    margin-bottom: 10px;
}

a {
    color: var(--menu-text-color);
    text-decoration-color: var(--menu-text-color);
    font-weight: bold;
}

a:hover {
    color: var(--menu-text-color-selected);
}

#main-section {
    padding-left: 10px;
}

#responsive-btn {
    height: 40px;
    width: 40px;
    background-color: var(--menu-bg-color);
    border-style: none;
    color: var(--menu-text-color);
    font-size: 24px;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    position: absolute;
    left: 99.5%;
    top: 0%;
}

#responsive-btn:active {
    background-color: var(--menu-bg-color-pressed);
}

@media(max-width: 700px) {
    aside {
        position: fixed;
        transition: all 0.3s cubic-bezier(0, 0, 0, 1);
        right: 100%;
    }

    aside.moved {
        right: calc(100% - 270px);
    }

    #main-section {
        padding-top: 20px;
    }
}

@media(min-width: 701px) {
    #responsive-btn {
        display: none;
    }
}